<style>
    #profilePic {

    position: relative;
    margin: 60px; 
    height: 240px;
    width: 240px; 
}

h5{
    font: bold; 
}
</style>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/jobFeed">Job Feed</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/user/:username">Profile<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<div class="media">
    <img id="profilePic" class="mr-3" src = {{userImage}} alt="Generic placeholder image" >
    <div class="media-body">
        <h5 class="mt-0">Media heading</h5>
        Cras sit amet nibh libero, in gravida nulla.
    </div>

    <div class="modal-body">
        <p>{{name}}</p>
        <p>{{lastname}}</p>
        <p>{{position}}</p>
    </div>
</div>
<div class="userDescription">
    <p> {{userDescription}} </p>
</div>
<div class="skills">
    {{#each skill}}
    <ul>{{this}}</ul>
    {{/each}}
</div>

