<div class="media">
    <img class="mr-3" src = {{userImage}} alt="Generic placeholder image" height="420px" width="420px">
    <div class="media-body">
        <h5 class="mt-0">Media heading</h5>
        Cras sit amet nibh libero, in gravida nulla.
    </div>

    <div class="modal-body">
        <p>{{name}}</p>
        <p>{{lastname}}</p>
        <p>{{position}}</p>
    </div>
</div>
<div class="userDescription">
    <p> {{userDescription}} </p>
</div>
<div class="skills">
    {{#each skill}}
    <ul>{{this}}</ul>
    {{/each}}
</div>
